{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My company - создание записи ДДС</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>
<body>
<!--Шапка-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">My company</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
            <!--Ссылка на справочник-->
            <a href="{% url 'guide' %}" class="btn btn-outline-info mr-2" role="button">Справочник</a>
        </div>
    </nav>

<!--Блок создания записи-->
    <section class="container mt-4">
        <h1>Создать запись о ДДС</h1>
        <!--Блок с формами-->
        <div class="mt-4">
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        {% csrf_token %}
                        <!-- Поле "Дата" -->
                        <div class="form-group">
                            <label for="id_created_at">Дата</label>
                            {{ form.created_at }}
                            <!--<input type="date" class="form-control" id="id_created_at" name="created_at" value="{{ form.created_at.value|default:'' }}">-->
                        </div>
        
                        <!-- Поле "Статус" -->
                        <div class="form-group">
                            <label for="id_status">Статус</label>
                            {{ form.status }}
                        </div>
        
                        <!-- Поле "Тип" -->
                        <div class="form-group">
                            <label for="id_typedds">Тип</label>
                            {{ form.typedds }}
                        </div>
        
                        <!-- Поле "Комментарий" -->
                        <div class="form-group d-flex flex-column">
                            <label for="id_comment">Комментарий</label>
                            <textarea class="form-control flex-grow-1" id="id_comment" name="comment" placeholder="Введите комментарий">{{ form.comment.value|default:'' }}</textarea>
                        </div>
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <!-- Поле "Категория" -->
                    <div class="form-group">
                        <label for="id_category">Категория</label>
                        {{ form.category }}
                    </div>
        
                    <!-- Поле "Подкатегория" -->
                    <div class="form-group">
                        <label for="id_subcategory">Подкатегория</label>
                        {{ form.subcategory }}
                    </div>
        
                    <!-- Поле "Сумма" с кастомными стилями -->
                    <div class="form-group">
                        <label for="id_summa">Сумма</label>
                        <input type="text" class="form-control summa-input" id="id_summa" name="summa" placeholder="5000" value="{{ form.summa.value|default:'' }}">
                        <span class="error-message" style="color: red; display: none;">Введите корректное значение, например 5000</span>
                    </div>
        
                    <!-- Кнопка "Создать запись" -->
                    <div class="form-group flex-grow-1 d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-outline-info">Создать запись</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        
        
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/logic_choice/create_logic.js'%}"></script>
    <script src ="{% static 'js/validate/validatoe.js' %}"></script>
</body>
</html>
