<!--Файл с кодом таблицы-->
{% load static %}


<div id="dds-table">
    <table class="table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Статус</th>
                <th>Тип</th>
                <th>Категория</th>
                <th>Подкатегория</th>
                <th>Сумма</th>
                <th>Комментарий</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for dds in dds_data %}
            <tr>
                <td>{{ dds.created_at }}</td>
                <td>{{ dds.status.name }}</td>
                <td>{{ dds.typedds.name }}</td>
                <td>{{ dds.category.name }}</td>
                <td>{{ dds.subcategory.name }}</td>
                <td>{{ dds.summa }}</td>
                <td>{{ dds.comment }}</td>
                <td class="btn-group">
                    <a href="{% url 'edit_dds' dds.id %}" class="btn btn-outline-info mr-2" role="button">Редактировать</a>
                    <button class="btn btn-outline-danger ml-2">Удалить</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
