{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My company - движение денежных средств</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel = "stylesheet" href = "{% static 'css/main.css' %}">
    </head>
<body>
    <!--Верхняя шапка-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">My company</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
            <!--Cсылка на добавление записи-->
            <a href="{% url 'create'%}" class="btn btn-outline-info mr-2" role="button">Создать запись</a>
            <!--Ссылка на справочник-->
            <a href="{% url 'guide' %}" class="btn btn-outline-info mr-2" role="button">Справочник</a>
        </div>

    </nav>
<!--Секция организации под шапкой-->
<section class="event-header">
    <div class="event-header-content">
      <h1>MY COMPANY</h1>
      <div class="event-info">
          <i class="fas fa-calendar-alt"></i> 2021-2025
      </div>
      <div class="event-info">
          <i class="fas fa-map-marker-alt"></i> г. Москва ул. 3-я Строителей д. 25
      </div>
    </div>
  </section>


<!--Секция с фильтром-->
<section class="search-bar container center">
    <div class="row">
        <div class="col-md-12">
        <form id="filter-form" method="get" action="">
            
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="date_from">Дата (с):</label>
                                <input type="date" class="form-control" id="date_from" name="date_from">
                            </div>
                            <div class="col-md-6">
                                <label for="date_to">Дата (по):</label>
                                <input type="date" class="form-control" id="date_to" name="date_to">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2">
                        <label for="status">Статус:</label>
                        <select class="form-control" id="status" name="status">
                            <option value="">Все</option>
                            {% for status in status_data %}
                            <option value="{{ status.name }}">{{ status.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="type">Тип:</label>
                        <select class="form-control" id="type" name="type">
                            <option value="">Все</option>
                            {% for typedds in type_data %}
                            <option value="{{ typedds.name }}">{{ typedds.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="category">Категория:</label>
                        <select class="form-control" id="category" name="category">
                            <option value="">Все</option>
                            {% for category in category_data %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="subcategory">Подкатегория:</label>
                        <select class="form-control" id="subcategory" name="subcategory">
                            <option value="">Все</option>
                            {% for subcategory in subcategory_data %}
                            <option value="{{ subcategory.name }}">{{ subcategory.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mt-2 justify-content-center">
                    <h2 style="font-size: 1rem; color: #17A2C8;">Пожалуйста, выберите, какие данные хотите увидеть</n2>
                </div>
                <div class="row mt-2 justify-content-center">
                    <div class="col-md-2">
                        <button type="submit" id="filter-button" class="btn btn-outline-info">Отфильтровать</button>
                    </div>
                </div>
            
        </form>
    </div>
    </div>
</section>

<!--Заголовок-->
    <section class="text-center">
        <h2>Данные о движении денежных средств</h2>
    </section>
    
<!--Секция таблицы-->
<section class="container mt-4">
    <div class="table-responsive">
        {% include 'dds_table.html' %}
    </div>
</section>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/dds_table_filter.js'%}"> </script>
</body>
</html>
